import random
from tkinter import *
from fpdf import *
from time import *
import datetime
from PIL import Image, ImageTk
from subprocess import call

main_window = Tk()
main_window.title('Рабочий стол от Алекса, муа')
main_window.resizable(False, False)
main_window.attributes("-fullscreen", True)


class bckgrnd_def(Frame):
    def __init__(self, master, *pargs):
        Frame.__init__(self, master, *pargs)



        self.image = Image.open("4th.jpg")
        self.img_copy= self.image.copy()


        self.background_image = ImageTk.PhotoImage(self.image)

        self.background = Label(self, image=self.background_image)
        self.background.pack(fill=BOTH, expand=YES)
        self.background.bind('<Configure>', self._resize_image)

    def _resize_image(self,event):

        new_width = event.width
        new_height = event.height

        self.image = self.img_copy.resize((new_width, new_height))

        self.background_image = ImageTk.PhotoImage(self.image)
        self.background.configure(image =  self.background_image)

bckgrng_2 = bckgrnd_def(main_window)
bckgrng_2.pack(fill=BOTH, expand=YES)

label_desktop = Label(text='Это рабочий стол от Алекса', font='Arial 30 bold', fg='Orchid')
label_desktop.place(relx=0.35, rely=0.1)


def calc_open():
    call(['python', 'open_calc_window.py'])

calc_image = ImageTk.PhotoImage(file='calc.png')
calc_button = Button(main_window, image=calc_image, font='Arial 18 bold', compound=TOP, text='Калькулятор', command=calc_open)
calc_button.place(relx=0.1, rely=0.4)


def clock_open():
    clock_open_window = Tk()
    clock_open_window.title('Цифровые часы')
    clock_open_window.geometry('420x150')
    clock_open_window.resizable(0, 0)

    text_font = 'Arial 68 bold'

    back_ground = '#363529'

    fore_ground = '#f2e750'

    output_text_clock = Label(clock_open_window, font=text_font, bg=back_ground, fg=fore_ground, bd=25)
    output_text_clock.grid(row=0, column=1, stick='wens')

    def clock_output():
        time_now = strftime('%H:%M:%S')
        output_text_clock.config(text=time_now)
        output_text_clock.after(200, clock_output)

    clock_output()


    

clock_image = ImageTk.PhotoImage(file='clock.png')
clock_button = Button(main_window, image=clock_image, font='Arial 18 bold', compound=TOP, text='Часы', command=clock_open)
clock_button.place(relx=0.25, rely=0.4)




def black_jack_open():
    call(['python', 'open_jack_window.py'])


black_jack_image = ImageTk.PhotoImage(file='black_jack.png')
black_jack_button = Button(main_window, image=black_jack_image, font='Arial 18 bold', compound=TOP, text='Блэк Джек', command= black_jack_open)
black_jack_button.place(relx=0.35, rely=0.4)







main_window.mainloop()
